@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.description {
    font-size: 1rem;
    font-weight: 400;
    color: #36485C;
}


.button {
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 9px;
    margin-bottom: 9px;
    text-decoration: none;
}

.link__arrow {
    margin-left: 12px;
}

.pretitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 12px;
    margin-top: 0;
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.page-header {
    margin: 16px 20px;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.page-header__logo {
    margin-right: auto;
    height: 40px;
    width: 40px;
}

.page-header__navigation {}

.page-header__link {
    display: none;
    font-size: 1rem;
    font-weight: 500;
    color: #36485C;
}

.page-header__avatar {
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

.burger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger-menu__icon {
    display: block;
    width: 24px;
    height: 24px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1720266b;
    z-index: 1;
}

#menuid {
    display: none;
}

#menuid:checked ~ .menu {
    display: block;
}

.menu__content {
    padding: 16px 20px 38px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.menu__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.menu__logo {}

.menu__close {
    background: transparent;
}

.menu__navigation {}

.menu__link {
    color: #36485C;
    margin-bottom: 16px;
}

.menu__link:nth-child(1) {
    margin-bottom: 32px;
}

.hero {
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(images/gradient.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 32.5px;
    background-size: 100% 60%;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    color: #172026;
}

.hero__description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero__actions {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 24px;
}

.button_violet {
    background-color: #4328EB;
    color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
}

.hero__view-price {
    color: #4328EB;
}

.hero__screenshot {
    position: relative;
    right: 3%;
}

.hero__screenshot_default {
    width: 100%;
}

.hero__trusted {}

.hero__trusted-description {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    margin-top: 0;
}

.hero__companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 4px;
}

.feature {
    margin: 0 20px;
}

.feature {
    margin-bottom: 56px;
}

.feature__pretitle_blue {
    color: #0085FF;
}

.feature__title {
    font-size: 24px;
    color: #172026;
    font-weight: 500;
    text-align: start;
    margin-bottom: 24px;
    margin-top: 0;
}

.feature__screenshot {
    margin-bottom: 24px;
    display: block;
}

.feature__screenshot-default {
    width: 100%;
}

.feature__description {
    text-align: start;
    margin-top: 0;
    margin-bottom: 24px;
}

.feature__advantages {
    margin-top: 0;
    margin-bottom: 24px;
}

.list {
    list-style-type: none;
    position: relative;
    padding-left: 34px;
}

.list__item {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;
}

.list__item:not(:last-child) {
    margin-bottom: 16px;
}

.list__item::before {
    content: url(images/checkmark.svg);
    position: absolute;
    left: 0;
}

.feature__learn-more_blue {
    color: #0085FF;
}

.feature__pretitle_green {
    color: #00A424;
}

.feature__learn-more_green {
    color: #00A424;
}

.feature {
    margin-bottom: 56px;
}

.feature__pretitle_pink {
    color: #EB2891;
}

.feature__learn-more_pink {
    color: #EB2891;
}

.feature__scenarios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 12px 24px;
    margin-bottom: 24px;
}

.scenarios__condition {
    font-size: 20px;
    font-weight: 500;
    color: #172026;
}

.scenarios__decision {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;
}

.testimonials {
    background: #F4F8FA;
    padding: 48px 0px;
    overflow: hidden;
    margin-bottom: 48px;
}

.testimonials__title {
    font-size: 24px;
    color: #172026;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;

}

.testimonials__description {
    text-align: center;
    margin: 0 20px 32px 20px;
}
.testimonials_reviews-viewport {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.testimonials__examples {
    width: 1200px;
    height: 372px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 0;
}

.testimonials__example {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 318px;
    padding: 16px 16px 0 16px;
}

.testimonials__example:nth-child(6n + 1) {
    margin-inline-start: 70px;
  }
.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.review__avatar {
    width: 56px;
    margin-right: 8px;
}

.review__reviewer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review__name {
    font-size: 14px;
    font-weight: 500;
    color: #172026;
    margin-bottom: 4px;
    margin-top: 0;
}

.review__job-title {
    font-size: 14px;
    font-weight: 400;
    color: #36485C;
    margin-top: 0;
    margin-bottom: 0;
}

.review__source {
    width: 40px;
    margin-left: auto;
}

.review__content {
    color: #36485C;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.faq {
    margin: 0 20px 48px 20px;
}

.faq__pretitle {
    color: #EB2891;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 16px;
    margin-top: 0;
}

.faq__title {
    font-size: 24px;
    color: #172026;
    font-weight: 500;
    text-align: start;
    margin-bottom: 24px;
    margin-top: 0;
}

.faq__description {
    text-align: start;
}

.faq__examples {}

.faq__example {
    padding: 16px;
    margin-bottom: 16px;
}

.faq-accordion {
    background-color: #E3F1FF;
    border-radius: 8px;

}

.faq-accordion__question {
    list-style: none;
    display: flex;
    color: #172026;
    font-weight: 500;
    text-align: start;
    font-size: 1rem;
}

.faq-accordion__question::after {
    content: url(images/plus.svg);
    margin-left: auto;
}

.faq-accordion[open] .faq-accordion__question::after {
    content: url(images/Minus.svg);
    margin-left: auto;
}

.faq-accordion__answer {
    font-size: 1rem;
    font-weight: 400;
    color: #36485C;
    text-align: start;
}

.pricing {
    margin: 0 20px 48px 20px;
}

.pricing__title {
    color: #172026;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: 500;
}

.pricing__description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
}

.tariff__description-more {
 color: #36485C;
}

.tariff {
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 24px;
}

.tariff_trial,
.tariff_enterprise {
    background-color: #F5F4FF;
}

.tariff_business {
    background-color: #4328EB;
}

.tariff__title {
    font-size: 18px;
    color: #4328EB;
    font-weight: 500;
    text-align: start;
    margin-bottom: 16px;
    margin-top: 0;
}

.tariff__summ {
    color: #172026;
    font-weight: 500;
    font-size: 24px;
}

.tariff__price {
    color: #172026;
    font-weight: 500;
    font-size: 24px;
}

.tariff_business .tariff__summ {
    color: #FFFFFF;
}

.tariff__period {
    color: #5F7896;
    font-weight: 500;
    font-size: 24px;
}

.tariff_business .tariff__period,
.tariff_business .tariff__description {
    color: #F4F8FA;
}

.tariff_business .tariff__title {
    color: #FFFFFF;
}

.tariff_business .list__item {
    color: #F4F8FA;
}

.tariff_business .list__item::before {
    content: url(images/checkmark_white.svg);
    position: absolute;
    left: 0;
}

.tariff__button {
    color: #4328EB;
    font-weight: 500;
    font-size: 1rem;
    padding: 14px 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
}

.cta {
    background-image: url(images/gradient2.png);
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 16px;
    margin: 0 16px 80px 16px;
    padding: 56px 32px;
    display: flex;
    flex-direction: column;
}

.cta__title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

.cta__description {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.cta_actions {
    margin: 0 auto;
}

.cta__go-trial {
    color: #EB2891;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 32px;
    margin-bottom: 24px;
}

.cta__contact {
    color: #FFFFFF;
    margin: 0 auto;
}

.footer-navigation {
    margin: 0 20px 56px 20px;
}

.footer-navigation__site-info {
    display: flex;
    gap: 12px;
    margin-bottom: 56px;
}

.footer-navigation__site-logo {
    width: 35px;
}

.footer-navigation__site-name {
    font-size: 17px;
    font-weight: 700;
    color: #36485C;
}

.footer-navigation__links_desktop {
    display: none;
}

.nav-accordion {
    margin-bottom: 32px;
}

.nav-accordion__label {
    display: flex;
    color: #36485C;
    font-weight: 500;
    text-align: start;
    font-size: 1rem;
    justify-content: space-between;
}

.nav-accordion__list {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;

}

.nav-accordion__link  {
    color: #36485C;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 32px;

}

.nav-accordion__label::after {
    content: url(images/chevron_down.svg);
}

.nav-accordion[open] .nav-accordion__label::after {
    transform: rotate(180deg);
}

.footer {
    margin-bottom: 40px;
}

.footer__copyright {
    color: #5F7896;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.footer__logos {
    display: flex;
    gap: 56px;
    justify-content: center;
}

.footer__logo {
    width: 20px;
    height: 20px;
}

