@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.description {
    font-size: 1rem;
    font-weight: 400;
    color: #36485C;
    line-height: 1.5rem;
}


.button {
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

.link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 0px;
    text-decoration: none;
}

.link__arrow {
    margin-left: 12px;
    width: 27px;
    height: 26px;
}

.pretitle {
    font-size: 1rem;
    font-weight: 500;
    text-align: start;
    margin-bottom: 14px;
    margin-top: 0;
}

.list {
    list-style-type: none;
    position: relative;
    padding-left: 40px;
}

.list__item {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.list__item:not(:last-child) {
    margin-bottom: 12px;
}

.list__item::before {
    content: url(images/checkmark.svg);
    position: absolute;
    left: 0.2rem;
}

@media (max-width: 350px) {
    .hero__go-trial {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (min-width: 500px) {
    .hero__screenshot {
        right: 6%;
    }

    .hero__screenshot_default {
        width: 100%;
    }
}

body {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.page-header {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.page-header__logo {
    margin-right: auto;
    height: 40px;
    width: 40px;
}

.page-header__navigation {}

.page-header__link {
    display: none;
    font-size: 1rem;
    font-weight: 500;
    color: #36485C;
}

.page-header__avatar {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    display: block;
}

.burger-menu {
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger-menu__icon {
    display: block;
    width: 24px;
    height: 24px;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1720266b;
    z-index: 1;
}

#menuid {
    display: none;
}

#menuid:checked~.menu {
    display: block;
}

.menu__content {
    padding: 16px 20px 38px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.menu__icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.menu__logo {}

.menu__close {
    background: transparent;
}

.menu__navigation {}

.menu__link {
    color: #36485C;
    margin-bottom: 16px;
}

.menu__link:nth-child(1) {
    margin-bottom: 32px;
}

.hero {
    padding-left: 20px;
    padding-right: 20px;
    background-image:
        image-set(
            url("images/gradient_hero_mobile_1x.webp") type("image/webp") 1x,
            url("images/gradient_hero_mobile_2x.webp") type("image/webp") 2x,
            url("images/gradient_hero_mobile_1x.png") type("image/png") 1x,
            url("images/gradient_hero_mobile_2x.png") type("image/png") 2x);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 27px;
    background-size: 100% 60%;
    margin-bottom: 58.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: #172026;
    margin-top: 0;
    line-height: 2.5rem;
    margin-bottom: 24px;
}

.hero__description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.hero__actions {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 8px;
}

.hero__go-trial {
    background-color: #4328EB;
    color: #ffffff;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1.1rem;
    padding-top: 17px;
    padding-bottom: 17.5px;
    letter-spacing: 0.015rem;
}

.hero__view-price {
    color: #4328EB;
}

.hero__screenshot {
    position: relative;
    right: 3.8%;
    margin-bottom: -22px;
}

.hero__screenshot_default {
    max-width: 100%;
}



.hero__trusted-description {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 22px;
    text-align: center;
    margin-top: 0;
}

.hero__companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 31px;
    row-gap: 3px;
}

.feature {
    margin: 0 20px;
}

.feature {
    margin-bottom: 20px;
}

.feature__pretitle {
    margin-bottom: 14.5px;
}

.feature__pretitle_blue {
    color: #0085FF;
}

.feature__title {
    font-size: 1.5rem;
    color: #172026;
    font-weight: 500;
    text-align: start;
    margin-bottom: 24px;
    margin-top: 0;
    line-height: 2.25rem;
}

.feature__screenshot {
    margin-bottom: 24px;
    max-height: inherit;
}

.feature__screenshot-default {
    width: 100%;
    object-fit: contain;
    max-height: inherit;
    margin-bottom: 20px;
}

.feature__description {
    text-align: start;
    margin-top: 0;
    margin-bottom: 24px;
}

.feature__description_bottom-spaced {

    margin-bottom: 41px;
}

.feature__advantages {
    margin-top: 0;
    margin-bottom: 32px;
}

.feature__learn-more_blue {
    color: #0085FF;
}


.feature__pretitle_green {
    color: #00A424;
}

.feature__learn-more_green {
    color: #00A424;
}

.feature__pretitle_pink {
    color: #EB2891;
}

.feature__learn-more_pink {
    color: #EB2891;
}

.feature__learn-more {
    margin-bottom: 66.5px;
}

.feature__learn-more_bottom-spaced {
    margin-bottom: 64px;
}

.feature__scenarios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: start;
    gap: 16px 24px;
    margin-bottom: 30px;
}

.scenarios__condition {
    font-size: 20px;
    font-weight: 500;
    color: #172026;
}

.scenarios__decision {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;
}

.testimonials {
    background: #F4F8FA;
    padding: 51px 0 48px 0px;
    overflow: hidden;
    margin-bottom: 51px;
}

.testimonials__title {
    font-size: 24px;
    color: #172026;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;

}

.testimonials__description {
    text-align: center;
    margin: 0 20px 31px 20px;
}

.testimonials__reviews-viewport {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.testimonials__examples {
    width: 1200px;
    height: 372px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    flex-shrink: 0;
    margin-inline-start: 38px;
}

.testimonials__example {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 318px;
    padding: 16px 16px 0 16px;
}

.testimonials__example:nth-child(6n + 1) {
    margin-inline-start: 76px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.review__avatar {
    width: 56px;
    margin-right: 8px;
}

.review__reviewer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review__name {
    font-size: 14px;
    font-weight: 500;
    color: #172026;
    margin-bottom: 4px;
    margin-top: 0;
}

.review__job-title {
    font-size: 14px;
    font-weight: 400;
    color: #36485C;
    margin-top: 0;
    margin-bottom: 0;
}

.review__source {
    width: 40px;
    margin-left: auto;
}

.review__content {
    color: #36485C;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.faq {
    margin: 0 20px 99px 20px;
}

.faq__pretitle {
    color: #EB2891;
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    margin-bottom: 19px;
    margin-top: 0;
}

.faq__title {
    font-size: 24px;
    color: #172026;
    font-weight: 500;
    text-align: start;
    margin-bottom: 2px;
    margin-top: 0;
    line-height: 2.25rem;
}

.faq__description {
    text-align: start;
    margin-bottom: 23.5px;
}

.faq__example {
    padding: 16px;
    margin-bottom: 16px;
}

summary::-webkit-details-marker {
    display: none;
}

.faq-accordion {
    background-color: #E3F1FF;
    border-radius: 8px;
}

.faq-accordion__question {
    list-style: none;
    display: flex;
    color: #172026;
    font-weight: 500;
    text-align: start;
    font-size: 1rem;
    line-height: 1.5rem;
}

.faq-accordion__question::after {
    content: url(images/plus.svg);
    margin: auto 0 auto auto;
    line-height: 1rem;
}

.faq-accordion[open] .faq-accordion__question::after {
    content: url(images/Minus.svg);
    margin-top: 12px;
}

.faq-accordion__answer {
    font-size: 1rem;
    font-weight: 400;
    color: #36485C;
    text-align: start;
    line-height: 1.5rem;
    margin-top: 8px;
    margin-bottom: 0px;
}

.pricing {
    margin: 0 20px 48px 20px;
}

.pricing__title {
    color: #172026;
    font-size: 24px;
    text-align: center;
    margin-bottom: 19.5px;
    margin-top: 0;
    font-weight: 500;
}

.pricing__description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.tariff__description {
    margin-top: 0;
    margin-bottom: 21px;
}

.tariff__description-more {
    color: #36485C;
    line-height: 1.5;
}

.tariff {
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 11px 24px 24px 24px;
}

.tariff__features {
    padding-left: 32px;
    margin-bottom: 17.5px;
}

.tariff__feature {
    line-height: 1.25rem;
}

.tariff__feature::before {
    left: 0px;
    content: url(images/checkmark_small.svg);
    margin-top: 1.5px;
}

.tariff_trial,
.tariff_enterprise {
    background-color: #F5F4FF;
}

.tariff_business {
    background-color: #4328EB;
}

.tariff__title {
    font-size: 18px;
    color: #4328EB;
    font-weight: 500;
    text-align: start;
    margin-bottom: 15px;
}

.tariff__summ {
    color: #172026;
    font-weight: 500;
    font-size: 24px;
}

.tariff__price {
    color: #172026;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 22px;
}

.tariff__description-more_bottom-spacing {
    margin-bottom: 16px;
}

.tariff__price_bottom-spacing {
    margin-bottom: 20px;
}

.tariff_business .tariff__summ {
    color: #FFFFFF;
}

.tariff__period {
    color: #5F7896;
    font-weight: 500;
    font-size: 24px;
    margin-left: 2px;
}

.tariff_business .tariff__period,
.tariff_business .tariff__description {
    color: #F4F8FA;
}

.tariff_business .tariff__title {
    color: #FFFFFF;
}

.tariff_business .list__item {
    color: #F4F8FA;
}

.tariff_business .list__item::before {
    content: url(images/checkmark_white.svg);
    position: absolute;
    left: 0;
}

.tariff__button {
    color: #4328EB;
    font-weight: 500;
    font-size: 1rem;
    padding: 16.5px 30px 16px 30px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
}

.cta {
    background-image:
    image-set(
        url("images/gradient_cta_mobile_1x.webp") type("image/webp") 1x,
        url("images/gradient_cta_mobile_2x.webp") type("image/webp") 2x,
        url("images/gradient_cta_mobile_1x.png") type("image/png") 1x,
        url("images/gradient_cta_mobile_2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: 150%;
    border-radius: 16px;
    margin: 0px 20px 73px 20px;
    padding: 30px 32px 55px 32px;
    display: flex;
    flex-direction: column;
}

.cta__title {
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 8px;
    line-height: 2.5rem;
}

.cta__description {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 39px;
}

.cta_actions {
    margin: 0 auto;
}

.cta__go-trial {
    color: #EB2891;
    font-size: 1.1em;
    font-weight: 500;
    padding: 17.5px 32px 17.5px 32px;
    margin-bottom: 32.5px;
    background-color: #FFFFFF;
    letter-spacing: 0.008em;
}

.cta__contact {
    color: #FFFFFF;
    margin: 0 auto;
    letter-spacing: 0.01em;
    font-size: 1.1rem;
}

.footer-navigation {
    margin: 0px 20px 52px 20px;
}

.footer-navigation__site-info {
    display: flex;
    gap: 9px;
    margin-bottom: 52px;
}

.footer-navigation__site-logo {
    margin-left: -2px;
    font-size: 1.1rem;
}

.footer-navigation__site-name {
    font-size: 1.1rem;
    font-weight: 700;
    color: #36485C;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
}

.footer-navigation__links-desktop {
    display: none;
}

.nav-accordion {
    margin-bottom: 28px;
    letter-spacing: -0.01rem;
}

.nav-accordion__label {
    display: flex;
    color: #36485C;
    font-weight: 500;
    text-align: start;
    font-size: 1rem;
    justify-content: space-between;
}

.nav-accordion__list {
    color: #36485C;
    font-size: 1rem;
    font-weight: 400;

}

.nav-accordion__link {
    color: #36485C;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 32px;

}

.nav-accordion__label::after {
    content: url(images/chevron_down.svg);
    position: relative;
    top: -2px;
}

.nav-accordion[open] .nav-accordion__label::after {
    transform: rotate(180deg);
}

.footer {
    margin-bottom: 40px;
}

.footer__copyright {
    color: #5F7896;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 43px;
}

.footer__logos {
    display: flex;
    gap: 56px;
    justify-content: center;
    margin-left: -1px;
}

.footer__logo {
    width: 20px;
    height: 20px;
}